* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

html {
  height: 100%;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #26C6DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #F5F5F5;
  border-radius: 10px;
  color: #F5F5F5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 48px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 24px;
  width: 96px;
}

.pokemon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hidden {
  display: none;
}

.image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #B2EBF2;
  border: 1px solid #00838F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 24px;
  width: 300px;
}

.image img {
  height: 250px;
  width: 250px;
}

.name {
  color: #00838F;
  font-family: sans-serif;
  font-size: 24px;
  margin: 4px;
  text-transform: uppercase;
}

.noselect {
  user-select: none;
}